<!DOCTYPE html>
<html lang="en-us">
  <head>

    <%- include('../../layout/head') %>
  </head>
<body>
  <header id="header">

    <%- include('../../layout/header') %>
    
  </header>
  <main id="main-content">

    <% data.forEach(item => {%>
    <img src="<%= item.image %>"/>
    <h2><%= item.title %></h2>
    <h2><%= item.author %></h2>
    <h2><%= item.summary %></h2>
    <p><%= item.isbn %></p>
    <% }) %>


  </main>
  <footer id="footer">

    <%- include('../../layout/footer') %>

  </footer>
</body>
</html>