<!DOCTYPE html>
<html lang="en-us">

<head>
  <%- include('../../layout/head') %>
</head>

<div class="content-wrapper">

  <body>

    <header id="header">
      <%- include('../../layout/header') %>
    </header>

    <main class="main-content new">

      <% data.forEach(item => {%>

        <article class="book dashed">

      <img src="<%= item.image %>" />
      <h3><%= item.title %></h3>
      <h6><%= item.author %></h6>
      <p><span>Summary:</span> <%= item.summary %></p>
      <p><span>ISBN:</span> <%= item.isbn %></p>
      <form action="/books" method="post">
        <input type="hidden" name="image" value='<%= item.image %>' />
        <input type="hidden" name="title" value='<%= item.title %>' />
        <input type="hidden" name="author" value='<%= item.author %>' />
        <input type="hidden" name="summary" value='<%= item.summary %>' />
        <input type="hidden" name="isbn" value='<%= item.isbn %>' />
        <input class="button" type="submit" value="Save This Book!" />
      </form>

      </article>

      <% }) %>

    </main>

    <footer id="footer">
      <%- include('../../layout/footer') %>
    </footer>

  </body>

</div>

</html>