<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>
</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>

  </header>

  <div class="img-wrapper">
    <img src="/img/bookr-home.png" alt="A Troiano-Barnhart Property">
  </div>

  <button class="search-button">
    <a href="/searches/new">Search</a>
  </button>

  <main id="main-content">
    <h2>The Chosen One</h2>
    <img src="<%= book.image %>" />
    <h2> <%= book.title %> </h2>
    <h3>Author: <%= book.author %></h3>
    <p>Summary: <%= book.summary %></p>
    <p>ISBN13: <%= book.isbn %></p>
    <p>Bookshelf:<%= book.bookshelf %> </p>
  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>

</html>