<!DOCTYPE html>
<html lang="en-us">

<head>
  <%- include('../layout/head') %>
</head>

<div class="content-wrapper">

  <body>

    <header id="header">
      <%- include('../layout/header') %>
    </header>

    <div class="bookr-bar">

      <div class="img-wrapper">
        <a href="/"><img src="/img/bookr-home.png" alt="A Troiano-Barnhart Property"></a>
      </div>

      <button class="search-button">
        <a href="/searches/new">Search</a>
      </button>

    </div>

    <main id="main-content">

      <h2>The Chosen One</h2>

      <article class="book dashed">

        <img src="<%= book.image %>" />
        <h3> <%= book.title %> </h3>
        <h6><%= book.author %></h6>
        <p>Summary: <%= book.summary %></p>
        <p>ISBN: <%= book.isbn %></p>
        <p>Bookshelf:<%= book.bookshelf %> </p>

      </article>

    </main>

    <footer id="footer">
      <%- include('../layout/footer') %>
    </footer>

  </body>

</div>

</html>