<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>
</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>

  </header>

  <div class="img-wrapper">
    <img src="/img/bookr-home.png" alt="A Troiano-Barnhart Property">
  </div>

  <button class="search-button">
    <a href="./searches/new">Search</a>
  </button>
<section>
    <h3>Total Books:
      <%= books.length %>
    </h3>
   
</section>
  <main id="bookResults">
    <h2>Book Results</h2>
    <section>
      <main id="main-content">
        <h1>Book Results</h1>

        <% books.forEach(favoriteBook => {%>
          <img src="<%= favoriteBook.image %>"/>
          <h2><%= favoriteBook.title %></h2>
          <p><%= favoriteBook.author %></p>
          <p><%= favoriteBook.summary %></p>
          <p><%= favoriteBook.isbn %></p>





          <form action="/books" method="post">
          <input type="hidden" name="image" value='<%= favoriteBook.image %>'/>
          <input type="hidden" name="title" value='<%= favoriteBook.title %>'/>
          <input type="hidden" name="author" value='<%= favoriteBook.author %>'/>
          <input type="hidden" name="summary" value='<%= favoriteBook.summary %>'/>
          <input type="hidden" name="isbn" value='<%= favoriteBook.isbn %>'/>
          <input type="submit" value="Save This Book!"/>
          </form>
      
          <% }) %>
      
      </main>
    </section>
    

  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>

</html>