<!-- template for book data partial. needs updated for DB syntax -->

<img src="<%= item.image %>"/>
    <h2><%= item.title %></h2>
    <p><%= item.author %></p>
    <p><%= item.summary %></p>
    <p><%= item.isbn %></p>